# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Burger-Remake









<h2>Ekran goruntusu</h2>

 Bu proje bir Hamburger Restoranı projesidir.

# Kullanılan Teknolojiler

- JSX(JavaScriptXML) React bileşenlerini tanımlamak için       kullandım 

- Stillendirme için Css kullandım

- SPA uygulamaları için React-Router-Dom teknolojisini kullandım

- Bu proje Hamburger Restoranı projesidir





![](BurgerRemake.gif)
